.app__cla {
    position: relative;
    background-color: var(--color-golden);
    height: 100vh;
}
 
.app__cla-content {
    position: absolute;
    top: 0;
}


/* .app__cla-content_cla {
    width: 100%;
    background: var(--color-white);
    
    border-radius: 100px;
    margin-top: 4rem;
    padding: 10px;
} */

/* .inner{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    background: var(--color-white);
    
    border: 6px solid var(--color-golden);
    border-radius: 100px;
    padding: 1rem 2rem;
}

.app__cla-content_cla p {
    margin: 2rem 0;
    color: var(--color-brown);
} */


@media screen and (max-width: 2000px) {
    .app__aboutus-content_about p {
        margin: 4rem 0;
    }
}

@media screen and (max-width: 900px) {
    .app__cla-content {
        flex-direction: column;
    }
}

@media screen and (max-width: 650px) {
    .app__cla-overlay img {
        width: 80%;
        height: 320px;
    }
}